
// Media Mobile Default
@media screen and (max-width: $media-small) and (orientation:portrait) {
    .loginBody {
        .loginContPricipal {
            margin-top:20px;
            .loginTitle {
                font-size:30px;
            }
            .loginText1 {
                font-size:18px;
            }
            .loginContSecond {
                width:90%;
                .loginImgParents {}
                .loginSpanParents {}
                .loginImgStudent {}
                .loginSpanStudent {}
                .loginImgTeacher {}
                .loginSpanTeacher {}
            }
            .loginForm {
                width:80%;
                .loginUsername {}
                .loginPassword {}
                .loginConfirPassword {}
                .loginSignin {}
                .loginText2 {
                    .loginText2A {}
                }
            }
        }
    }
}



