@mixin mixFontText{
    font-family:$fontSans;
    font-size:1.0625rem;
    font-weight:400;
    color:$colBase;
}

@mixin fontTextApli {
    font-family: $fontSans ;
    font-size: 15px ;
    font-weight: 400 ;
    color: $colBase ;
}

@mixin fontNotifications {
    font-family: $fontSans ;
    font-size: 16px ;
    font-weight: 400 ;
    color: white;
    margin-top: 12px ;
}

@mixin fontTitleNot {
    font-family: $fontSans ;
    font-size: 20px ;
    font-weight: 600 ;
    color: white ;
}