@mixin mixFontText{
    font-family:$fontSans;
    font-size:1.0625rem;
    font-weight:400;
    color:$colBase;
}

@mixin fontTextApli {
    font-family: $fontSans ;
    font-size: 15px ;
    font-weight: 400 ;
    color: $colBase ;
}