.mainDashboard{
    width: 91% ;
    height: 21.25rem ;
    padding: 1.25rem ;
    background-color: $colGrey ;
    margin: auto ;
    margin-top: 0.625rem ;
    border-radius: 0.625rem ;
    overflow: scroll ;

    .divData {
        background-color: $colOrange ;
        padding: 10px ;
        border-radius: 7px ;
        border: none ;
        margin-top: 5px ;

        .titleData {
            font-family: $fontSans ;
            font-sie: 22px ;
            color: black ;
        }

        .textData {}
    }
}
