.contLoginNewUser{
    background-color:$colBase;
    border-radius:15px;
    margin:auto;
    width: 50%;
    padding:20px;
    margin-bottom:5px;
    .inputFirstName{
        @include mixInpNewUser;
    }
    .inputLastName{
        @include mixInpNewUser;
    }
    .inputPositions{
        @include mixInpNewUser;
    }
    .inputSexo{
        @include mixInpNewUser;
    }
    .inputId{
        @include mixInpNewUser;
    }
    .btnPushUser{
        @include mixBtnPushUser;
    }
}