* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
} /*


// Media Desktop Tall
@media screen and (min-width: $media-tall)  {}

// Media Desktop Small
@media screen and (min-width: $media-medium) and (max-width: $media-tall) and (orientation:portrait) {}

// Media Tablet
@media screen and (min-width: $media-small) and (max-width: $media-medium) and (orientation:portrait) {}

// Media Mobile Default
@media screen and (max-width: $media-small) and (orientation:portrait) {}

// Media Movil Rotate
@media screen and (min-width: $media-small-xs) and (max-width: $media-tall) and (orientation:landscape) {}

*/
.body {
  background-color: #2b006e;
}
.body .loginContPricipal {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
.body .loginContPricipal .loginTitle {
  font-family: sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: whitesmoke;
}
.body .loginContPricipal .loginText1 {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: grey;
  margin-top: 20px;
}
.body .loginContPricipal .loginContSecond {
  width: 600px;
  margin: auto;
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
}
.body .loginContPricipal .loginContSecond > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.body .loginContPricipal .loginContSecond > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.body .loginContPricipal .loginContSecond > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.body .loginContPricipal .loginContSecond > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.body .loginContPricipal .loginContSecond > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.body .loginContPricipal .loginContSecond > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.body .loginContPricipal .loginContSecond .loginImgParents {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  margin: auto;
  width: 80px;
  height: 80px;
  border: solid 2px white;
  border-radius: 50%;
  background-color: orange;
}
.body .loginContPricipal .loginContSecond .loginSpanParents {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: orange;
  margin-top: 10px;
}
.body .loginContPricipal .loginContSecond .loginImgStudent {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  margin: auto;
  width: 80px;
  height: 80px;
  border: solid 2px white;
  border-radius: 50%;
  background-color: orange;
}
.body .loginContPricipal .loginContSecond .loginSpanStudent {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: orange;
  margin-top: 10px;
}
.body .loginContPricipal .loginContSecond .loginImgTeacher {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  margin: auto;
  width: 80px;
  height: 80px;
  border: solid 2px white;
  border-radius: 50%;
  background-color: orange;
}
.body .loginContPricipal .loginContSecond .loginSpanTeacher {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: orange;
  margin-top: 10px;
}
.body .loginContPricipal .loginForm {
  width: 500px;
  height: 450px;
  margin: auto;
  margin-top: -30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
}
.body .loginContPricipal .loginForm .loginUsername {
  -ms-grid-row: 1;
  grid-row: 1;
  background: transparent;
  border: solid 2px grey;
  border-radius: 15px;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 2px;
  color: grey;
  padding: 20px;
  margin-top: 20px;
  height: 40px;
}
.body .loginContPricipal .loginForm .loginSignin {
  -ms-grid-row: 2;
  grid-row: 2;
  background-color: orange;
  border: none;
  border-radius: 35px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
  letter-spacing: 2px;
  height: 70px;
}
.body .loginContPricipal .loginForm .loginText2 {
  -ms-grid-row: 3;
  grid-row: 3;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: grey;
  margin-top: 20px;
}
.body .loginContPricipal .loginForm .loginText2 .loginText2A {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: orange;
}
.body .loginContPricipal .buttonEnter {
  -ms-grid-row: 3;
  grid-row: 3;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: orange;
  padding: 20px 40px 40px;
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 45px;
  margin: auto;
  margin-top: -30px;
}

.body .heraderCont {
  width: 98%;
  padding-left: 1.25rem;
  height: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body .heraderCont .headerDiv1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3.125rem;
  height: 100%;
}
.body .heraderCont .headerDiv1 .headerLogo1 {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1.25rem;
}
.body .heraderCont .headerDiv1 .headerLogo2 {
  font-family: sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  color: #ff9a00;
  display: inline;
  margin-right: 0.4375rem;
}
.body .heraderCont .headerDiv1 .headerLogo3 {
  font-family: sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  color: #ff9a00;
  display: inline;
}
.body .heraderCont .headerDiv2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3.125rem;
}
.body .heraderCont .headerDiv2 .headerBtnMessage {
  background: transparent;
  padding: 7px;
  border: 0px solid white;
  border-radius: 50%;
}
.body .heraderCont .headerDiv2 .headerBtnMessage .headerImgBtnNoti {
  width: 20px;
  height: 20px;
}
.body .heraderCont .headerDiv2 .headerBtnNoti {
  margin-left: 0.625rem;
  background: transparent;
  padding: 7px;
  border: 0px solid white;
  border-radius: 50%;
}
.body .heraderCont .headerDiv2 .headerBtnNoti .headerImgBtnNoti {
  width: 20px;
  height: 20px;
}
.body .heraderCont .headerDiv2 .headerNamePerson {
  font-family: sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #f7f7f7;
  display: inline;
  margin-left: 3.125rem;
}
.body .heraderCont .headerDiv2 .headerImgPerson {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1.25rem;
}

.body {
  background-color: #2b006e;
}
.body .loginContPricipal {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
.body .loginContPricipal .loginTitle {
  font-family: sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: whitesmoke;
}
.body .loginContPricipal .loginText1 {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: grey;
  margin-top: 20px;
}
.body .loginContPricipal .loginContSecond {
  width: 600px;
  margin: auto;
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
}
.body .loginContPricipal .loginContSecond > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.body .loginContPricipal .loginContSecond > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.body .loginContPricipal .loginContSecond > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.body .loginContPricipal .loginContSecond > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.body .loginContPricipal .loginContSecond > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.body .loginContPricipal .loginContSecond > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.body .loginContPricipal .loginContSecond .loginImgParents {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  margin: auto;
  width: 80px;
  height: 80px;
  border: solid 2px white;
  border-radius: 50%;
  background-color: orange;
}
.body .loginContPricipal .loginContSecond .loginSpanParents {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: orange;
  margin-top: 10px;
}
.body .loginContPricipal .loginContSecond .loginImgStudent {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  margin: auto;
  width: 80px;
  height: 80px;
  border: solid 2px white;
  border-radius: 50%;
  background-color: orange;
}
.body .loginContPricipal .loginContSecond .loginSpanStudent {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: orange;
  margin-top: 10px;
}
.body .loginContPricipal .loginContSecond .loginImgTeacher {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  margin: auto;
  width: 80px;
  height: 80px;
  border: solid 2px white;
  border-radius: 50%;
  background-color: orange;
}
.body .loginContPricipal .loginContSecond .loginSpanTeacher {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: orange;
  margin-top: 10px;
}
.body .loginContPricipal .loginForm {
  width: 500px;
  height: 450px;
  margin: auto;
  margin-top: -30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
}
.body .loginContPricipal .loginForm .loginUsername {
  -ms-grid-row: 1;
  grid-row: 1;
  background: transparent;
  border: solid 2px grey;
  border-radius: 15px;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 2px;
  color: grey;
  padding: 20px;
  margin-top: 20px;
  height: 40px;
}
.body .loginContPricipal .loginForm .loginSignin {
  -ms-grid-row: 2;
  grid-row: 2;
  background-color: orange;
  border: none;
  border-radius: 35px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
  letter-spacing: 2px;
  height: 70px;
}
.body .loginContPricipal .loginForm .loginText2 {
  -ms-grid-row: 3;
  grid-row: 3;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: grey;
  margin-top: 20px;
}
.body .loginContPricipal .loginForm .loginText2 .loginText2A {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: orange;
}
.body .loginContPricipal .buttonEnter {
  -ms-grid-row: 3;
  grid-row: 3;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: orange;
  padding: 20px 40px 40px;
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 45px;
  margin: auto;
  margin-top: -30px;
}

.mainContPrin {
  height: 40.625rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 65% 20%;
  grid-template-columns: 15% 65% 20%;
}
.mainContPrin .mainMenu {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (30px)[10];
  grid-template-rows: repeat(10, 30px);
  height: 90%;
  margin-top: 3.125rem;
}
.mainContPrin .mainDivPrin {
  background-color: #f7f7f7;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}
.mainContPrin .mainDivPrin .mainWelcome {
  width: 91%;
  height: 7.938rem;
  background-color: #ff9a00;
  margin: auto;
  margin-top: 1.25rem;
  border: none;
  border-radius: 10px;
  padding: 1.25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
  grid-template-columns: 70% 30%;
}
.mainContPrin .mainDivPrin .mainWelcome .mainWelcomeTitle {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  font-family: serif;
  font-size: 50px;
  font-weight: 600;
  color: #2b006e;
  margin-bottom: -30px;
}
.mainContPrin .mainDivPrin .mainWelcome .mainWelcomeText {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  font-family: sans-serif;
  font-size: 1.0625rem;
  font-weight: 400;
  color: #2b006e;
}
.mainContPrin .mainDivPrin .mainWelcome .mainWelcomeImg {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  width: 9.375rem;
  height: 9.375rem;
}
.mainContPrin .mainDivPrin .mainDashboard {
  width: 91%;
  height: 62%;
  padding: 1.25rem;
  background-color: #f0f0f0;
  margin: auto;
  margin-top: 0.625rem;
  border-radius: 0.625rem;
}
.mainContPrin .mainDivSecond {
  width: 95%;
  height: 100%;
  background-color: #f7f7f7;
}
.mainContPrin .mainDivSecond .secondCalificatios {
  width: 88%;
  height: 47%;
  background-color: #f0f0f0;
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.mainContPrin .mainDivSecond .secondNotes {
  width: 88%;
  height: 41%;
  padding: 0.625rem;
  background-color: #f0f0f0;
  border-radius: 0.625rem;
}
.mainContPrin .mainDivSecond .secondNotes .notesInput {
  width: 100%;
  margin-bottom: 3px;
}
.mainContPrin .mainDivSecond .secondNotes .notesBtn {
  width: 101.5%;
}

@media screen and (max-width: 575px) and (orientation: portrait) {
  .loginBody .loginContPricipal {
    margin-top: 20px;
  }
  .loginBody .loginContPricipal .loginTitle {
    font-size: 30px;
  }
  .loginBody .loginContPricipal .loginText1 {
    font-size: 18px;
  }
  .loginBody .loginContPricipal .loginContSecond {
    width: 90%;
  }
  .loginBody .loginContPricipal .loginForm {
    width: 80%;
  }
}