* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
} /*


// Media Desktop Tall
@media screen and (min-width: $media-tall)  {}

// Media Desktop Small
@media screen and (min-width: $media-medium) and (max-width: $media-tall) and (orientation:portrait) {}

// Media Tablet
@media screen and (min-width: $media-small) and (max-width: $media-medium) and (orientation:portrait) {}

// Media Mobile Default
@media screen and (max-width: $media-small) and (orientation:portrait) {}

// Media Movil Rotate
@media screen and (min-width: $media-small-xs) and (max-width: $media-tall) and (orientation:landscape) {}

*/
.body .nav1 {
  text-align: end;
}
.body .nav1 .loginBtn {
  border: none;
  background: transparent;
  margin-right: 100px;
  margin-top: 20px;
}
.body .nav1 .loginBtn .btnA {
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: black;
}
.body .principal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 680px;
}
.body .principal .cont1 {
  margin: auto;
  margin-left: 120px;
}
.body .principal .cont1 .title1 {
  font-family: sans-serif;
  font-size: 90px;
  font-weight: bold;
  color: black;
  margin: 0px;
}
.body .principal .cont1 .title2 {
  font-family: sans-serif;
  font-size: 90px;
  font-weight: bold;
  color: black;
  margin: 0px;
  letter-spacing: 10px;
}
.body .principal .cont2 {
  margin: auto;
}
.body .principal .cont2 .text {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: black;
  width: 450px;
  margin: auto;
}
.body .nav2 {
  width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.body .nav2 .nav2Btn {
  border: none;
  background: transparent;
}
.body .nav2 .nav2Btn .btnA {
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: black;
}

.loginBody {
  background-color: midnightblue;
}
.loginBody .loginContPricipal {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
.loginBody .loginContPricipal .loginTitle {
  font-family: sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: whitesmoke;
}
.loginBody .loginContPricipal .loginText1 {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: grey;
  margin-top: 20px;
}
.loginBody .loginContPricipal .loginContSecond {
  width: 600px;
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.loginBody .loginContPricipal .loginContSecond .loginImgParents {
  grid-column: 1;
  grid-row: 1;
  margin: auto;
  width: 80px;
  height: 80px;
  border: solid 2px white;
  border-radius: 50%;
  background-color: orange;
}
.loginBody .loginContPricipal .loginContSecond .loginSpanParents {
  grid-column: 1;
  grid-row: 2;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: orange;
  margin-top: 10px;
}
.loginBody .loginContPricipal .loginContSecond .loginImgStudent {
  grid-column: 2;
  grid-row: 1;
  margin: auto;
  width: 80px;
  height: 80px;
  border: solid 2px white;
  border-radius: 50%;
  background-color: orange;
}
.loginBody .loginContPricipal .loginContSecond .loginSpanStudent {
  grid-column: 2;
  grid-row: 2;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: orange;
  margin-top: 10px;
}
.loginBody .loginContPricipal .loginContSecond .loginImgTeacher {
  grid-column: 3;
  grid-row: 1;
  margin: auto;
  width: 80px;
  height: 80px;
  border: solid 2px white;
  border-radius: 50%;
  background-color: orange;
}
.loginBody .loginContPricipal .loginContSecond .loginSpanTeacher {
  grid-column: 3;
  grid-row: 2;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: orange;
  margin-top: 10px;
}
.loginBody .loginContPricipal .loginForm {
  width: 500px;
  height: 450px;
  margin: auto;
  margin-top: -30px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}
.loginBody .loginContPricipal .loginForm .loginUsername {
  grid-row: 1;
  background: transparent;
  border: solid 2px grey;
  border-radius: 15px;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 2px;
  color: grey;
  padding: 20px;
  margin-top: 20px;
}
.loginBody .loginContPricipal .loginForm .loginPassword {
  grid-row: 2;
  background: transparent;
  border: solid 2px grey;
  border-radius: 15px;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 2px;
  color: grey;
  padding: 20px;
  margin-top: 20px;
}
.loginBody .loginContPricipal .loginForm .loginConfirPassword {
  grid-row: 3;
  background: transparent;
  border: solid 2px grey;
  border-radius: 15px;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 2px;
  color: grey;
  padding: 20px;
  margin-top: 20px;
}
.loginBody .loginContPricipal .loginForm .loginSignin {
  grid-row: 5;
  background-color: orange;
  border: none;
  border-radius: 35px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
  letter-spacing: 2px;
}
.loginBody .loginContPricipal .loginForm .loginText2 {
  grid-row: 6;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: grey;
  margin-top: 20px;
}
.loginBody .loginContPricipal .loginForm .loginText2 .loginText2A {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: orange;
}

.indexBody .indexHeader {
  background-color: darkblue;
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}
.indexBody .indexHeader .indexHeader1 {
  display: inline;
}
.indexBody .indexHeader .indexHeader1 .indeHeaderImg {
  width: 30px;
  height: 30px;
}
.indexBody .indexHeader .indexHeader1 .indexHeaderSpan {
  font-family: sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: whitesmoke;
}
.indexBody .indexHeader .indexHeader2 {
  display: inline;
  margin-right: 50px;
}
.indexBody .indexHeader .indexHeader2 .indexHeaderBtn1 {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
.indexBody .indexHeader .indexHeader2 .indexHeaderBtn1 img {
  width: 17px;
  height: 17px;
}
.indexBody .indexHeader .indexHeader2 .indexHeaderBtn2 {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
.indexBody .indexHeader .indexHeader2 .indexHeaderBtn2 img {
  width: 17px;
  height: 17px;
}
.indexBody .indexHeader .indexHeader2 .indexHeaderText {
  display: inline;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: grey;
}
.indexBody .gridPrin {
  display: grid;
  grid-template-columns: 12% 60% 28%;
}
.indexBody .gridPrin .indexNav {
  background-color: darkblue;
  height: 620px;
  padding-top: 70px;
}
.indexBody .gridPrin .indexNav .indexNavBtn {
  border: none;
  border-radius: 5px;
  background: transparent;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: whitesmoke;
  display: block;
  text-align: left;
  width: 170px;
  margin-left: 10px;
  padding: 15px;
}
.indexBody .gridPrin .indexNav .indexNavBtn img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.indexBody .gridPrin .indexNav #indexExit {
  margin-top: 150px;
}
.indexBody .gridPrin .indexMain {
  grid-column: 2;
}
.indexBody .gridPrin .indexMain .indexWelcome {
  background-color: orange;
  display: grid;
  grid-template-columns: 70% 30%;
  width: 93%;
  margin: auto;
  margin-top: 10px;
  border: none;
  border-radius: 15px;
  padding: 20px;
}
.indexBody .gridPrin .indexMain .indexWelcome .indexWelcomeTitle {
  grid-column: 1;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: black;
}
.indexBody .gridPrin .indexMain .indexWelcome .indexWelcomeText {
  grid-column: 1;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: grey;
  margin-top: 10px;
}
.indexBody .gridPrin .indexMain .indexWelcome .indexWelcomeBtn {
  grid-column: 1;
  border: none;
  border-radius: 5px;
  background-color: darkblue;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: whitesmoke;
  height: 50px;
  margin-top: 20px;
}
.indexBody .gridPrin .indexMain .indexWelcome .indexWelcomeImg {
  grid-column: 2;
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: -80px;
}
.indexBody .gridPrin .indexMain .indexContPrin {
  background-color: bisque;
  width: 93%;
  height: 420px;
  margin: auto;
  margin-top: 10px;
  border-radius: 15px;
  padding: 20px;
}
.indexBody .gridPrin .indexcontSecond {
  grid-column: 3;
  background-color: bisque;
  width: 88%;
  margin-top: 10px;
  height: 400px;
  padding: 20px;
  border-radius: 15px;
}
.indexBody .gridPrin .indexcontSecond .indexcontSecondDiv1 {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: aquamarine;
}
.indexBody .gridPrin .indexcontSecond .indexcontSecondDiv1 .indexcontSecondDivImg {
  display: inline;
  width: 30px;
  height: 30px;
  vertical-align: bottom;
}
.indexBody .gridPrin .indexcontSecond .indexcontSecondDiv1 .indexcontSecondDivTitle {
  display: inline;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: black;
}
.indexBody .gridPrin .indexcontSecond .indexcontSecondDiv1 .indexcontSecondDivText {
  display: block;
}
.indexBody .gridPrin .indexcontSecond .indexcontSecondDiv2 {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: aquamarine;
}
.indexBody .gridPrin .indexcontSecond .indexcontSecondDiv2 .indexcontSecondDivImg {
  display: inline;
  width: 30px;
  height: 30px;
  vertical-align: bottom;
}
.indexBody .gridPrin .indexcontSecond .indexcontSecondDiv2 .indexcontSecondDivTitle {
  display: inline;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: black;
}
.indexBody .gridPrin .indexcontSecond .indexcontSecondDiv2 .indexcontSecondDivText {
  display: block;
}
.indexBody .gridPrin .indexcontSecond .indexcontSecondDiv3 {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: aquamarine;
}
.indexBody .gridPrin .indexcontSecond .indexcontSecondDiv3 .indexcontSecondDivImg {
  display: inline;
  width: 30px;
  height: 30px;
  vertical-align: bottom;
}
.indexBody .gridPrin .indexcontSecond .indexcontSecondDiv3 .indexcontSecondDivTitle {
  display: inline;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: black;
}
.indexBody .gridPrin .indexcontSecond .indexcontSecondDiv3 .indexcontSecondDivText {
  display: block;
}
@media screen and (max-width: 575px) and (orientation: portrait) {
  .loginBody .loginContPricipal {
    margin-top: 20px;
  }
  .loginBody .loginContPricipal .loginTitle {
    font-size: 30px;
  }
  .loginBody .loginContPricipal .loginText1 {
    font-size: 18px;
  }
  .loginBody .loginContPricipal .loginContSecond {
    width: 90%;
  }
  .loginBody .loginContPricipal .loginForm {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */