* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
} /*


// Media Desktop Tall
@media screen and (min-width: $media-tall)  {}

// Media Desktop Small
@media screen and (min-width: $media-medium) and (max-width: $media-tall) and (orientation:portrait) {}

// Media Tablet
@media screen and (min-width: $media-small) and (max-width: $media-medium) and (orientation:portrait) {}

// Media Mobile Default
@media screen and (max-width: $media-small) and (orientation:portrait) {}

// Media Movil Rotate
@media screen and (min-width: $media-small-xs) and (max-width: $media-tall) and (orientation:landscape) {}

*/
.body .heraderCont {
  width: 98%;
  padding-left: 1.25rem;
  height: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body .heraderCont .headerDiv1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3.125rem;
  height: 100%;
}
.body .heraderCont .headerDiv1 .menuBurger {
  display: none;
}
.body .heraderCont .headerDiv1 .headerLogo1 {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1.25rem;
}
.body .heraderCont .headerDiv1 .headerLogo2 {
  font-family: sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  color: #ff9a00;
  display: inline;
  margin-right: 0.4375rem;
}
.body .heraderCont .headerDiv1 .headerLogo3 {
  font-family: sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  color: #ff9a00;
  display: inline;
}
.body .heraderCont .headerDiv2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3.125rem;
}
.body .heraderCont .headerDiv2 .headerBtnMessage {
  background: transparent;
  padding: 0.4375rem;
  border: 0px solid white;
  border-radius: 50%;
}
.body .heraderCont .headerDiv2 .headerBtnMessage .headerImgBtnNoti {
  width: 1.25rem;
  height: 1.25rem;
}
.body .heraderCont .headerDiv2 .headerBtnNoti {
  margin-left: 0.625rem;
  background: transparent;
  padding: 0.4375rem;
  border: 0px solid white;
  border-radius: 50%;
}
.body .heraderCont .headerDiv2 .headerBtnNoti .headerImgBtnNoti {
  width: 1.25rem;
  height: 1.25rem;
}
.body .heraderCont .headerDiv2 .headerNamePerson {
  font-family: sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #f7f7f7;
  display: inline;
  margin-left: 3.125rem;
}
.body .heraderCont .headerDiv2 .headerImgPerson {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1.25rem;
}
.body .heraderCont .headerDiv2 .exitBtn {
  width: 20px;
  height: 20px;
  background: transparent;
  margin-left: 30px;
  border: none;
}
.body .heraderCont .headerDiv2 .exitBtn .exitImg {
  width: 20px;
  height: 20px;
}

.mainWelcome {
  width: 91%;
  height: 8.75rem;
  background-color: #ff9a00;
  margin: auto;
  margin-top: 1.25rem;
  border: none;
  border-radius: 10px;
  padding: 1.25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
  grid-template-columns: 70% 30%;
}
.mainWelcome .mainWelcomeTitle {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  font-family: serif;
  font-size: 2.9375rem;
  font-weight: 600;
  color: #2b006e;
  margin-bottom: 0px;
}
.mainWelcome .mainWelcomeText {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  font-family: sans-serif;
  font-size: 1.0625rem;
  font-weight: 400;
  color: #2b006e;
}
.mainWelcome .mainWelcomeImg {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  width: 9.375rem;
  height: 9.375rem;
}

.mainMenu {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (40px)[8];
  grid-template-rows: repeat(8, 40px);
  height: 90%;
  margin-top: 3.125rem;
}
.mainMenu .menuBtn {
  width: 90%;
  height: 100%;
  margin: auto;
  border: none;
  border-radius: 0.3125rem;
  background: transparent;
  font-family: sans-serif;
  font-size: 1.0625rem;
  font-weight: 400;
  color: #f7f7f7;
}
.mainMenu .menuBtn:hover {
  background-color: #ff9a00;
}
.mainMenu .menuBtn .menuImg {
  width: 0.9375rem;
  height: 0.9375rem;
  margin-left: 0.3125rem;
  vertical-align: text-top;
}

.mainDashboard {
  width: 91%;
  height: 420px;
  padding: 1.25rem;
  background-color: #f0f0f0;
  margin: auto;
  margin-top: 0.625rem;
  border-radius: 0.625rem;
  overflow: scroll;
}

.secondCalificatios {
  width: 88%;
  height: 47%;
  background-color: #f0f0f0;
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.secondNotes {
  width: 88%;
  height: 285px;
  padding: 0.625rem;
  background-color: #f0f0f0;
  border-radius: 0.625rem;
  overflow: scroll;
}
.secondNotes .notesInput {
  width: 100%;
  margin-bottom: 3px;
  height: 20px;
  border: solid 1px black;
  border-radius: 3px;
}
.secondNotes .notesBtn {
  width: 101.5%;
  border: none;
  border-radius: 0.3125rem;
  height: 1.375rem;
  background-color: #ff9a00;
}
.secondNotes .newNotes {
  width: 100%;
  height: auto;
  padding: 0.3125rem 0.3125rem 0.3125rem 0.3125rem;
  background-color: #2b006e;
  margin-top: 0.1875rem;
  border: solid 1px #ff9a00;
  border-radius: 0.3125rem;
}
.secondNotes .newNotes .ckeckNotes {
  width: 15px;
  height: 15px;
  display: inline;
  margin-right: 0.4375rem;
}
.secondNotes .newNotes .removeNotes {
  width: 15px;
  height: 15px;
  background: transparent;
  border: none;
  display: inline;
}
.secondNotes .newNotes .removeNotes .imgNotes {
  width: 15px;
  height: 15px;
}
.secondNotes .newNotes .textNotes {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #f7f7f7;
  display: block;
  overflow: scroll;
  text-overflow: ellipsis;
}

.body {
  background-color: #2b006e;
}
.body .loginContPricipal {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
.body .loginContPricipal .loginTitle {
  font-family: sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: whitesmoke;
}
.body .loginContPricipal .loginText1 {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: grey;
  margin-top: 20px;
}
.body .loginContPricipal .loginContSecond {
  width: 600px;
  margin: auto;
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
}
.body .loginContPricipal .loginContSecond > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.body .loginContPricipal .loginContSecond > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.body .loginContPricipal .loginContSecond > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.body .loginContPricipal .loginContSecond > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.body .loginContPricipal .loginContSecond > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.body .loginContPricipal .loginContSecond > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.body .loginContPricipal .loginContSecond .loginImgParents {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  margin: auto;
  width: 80px;
  height: 80px;
  border: solid 2px white;
  border-radius: 50%;
  background-color: orange;
}
.body .loginContPricipal .loginContSecond .loginSpanParents {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: orange;
  margin-top: 10px;
}
.body .loginContPricipal .loginContSecond .loginImgStudent {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  margin: auto;
  width: 80px;
  height: 80px;
  border: solid 2px white;
  border-radius: 50%;
  background-color: orange;
}
.body .loginContPricipal .loginContSecond .loginSpanStudent {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: orange;
  margin-top: 10px;
}
.body .loginContPricipal .loginContSecond .loginImgTeacher {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  margin: auto;
  width: 80px;
  height: 80px;
  border: solid 2px white;
  border-radius: 50%;
  background-color: orange;
}
.body .loginContPricipal .loginContSecond .loginSpanTeacher {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: orange;
  margin-top: 10px;
}
.body .loginContPricipal .loginForm {
  width: 500px;
  height: 450px;
  margin: auto;
  margin-top: -30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
}
.body .loginContPricipal .loginForm .loginUsername {
  -ms-grid-row: 1;
  grid-row: 1;
  background: transparent;
  border: solid 2px grey;
  border-radius: 15px;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 2px;
  color: grey;
  padding: 20px;
  margin-top: 20px;
  height: 40px;
}
.body .loginContPricipal .loginForm .loginSignin {
  -ms-grid-row: 2;
  grid-row: 2;
  background-color: orange;
  border: none;
  border-radius: 35px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
  letter-spacing: 2px;
  height: 70px;
}
.body .loginContPricipal .loginForm .loginText2 {
  -ms-grid-row: 3;
  grid-row: 3;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: grey;
  margin-top: 20px;
}
.body .loginContPricipal .loginForm .loginText2 .loginText2A {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: orange;
}
.body .loginContPricipal .buttonEnter {
  -ms-grid-row: 3;
  grid-row: 3;
  font-family: sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
  background-color: orange;
  padding: 1.25rem 2.5rem 2.5rem;
  border: none;
  border-radius: 0.625rem;
  width: 12.5rem;
  height: 2.8125rem;
  margin: auto;
  margin-top: -1.875rem;
}

.mainContPrin {
  height: 40.625rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 65% 20%;
  grid-template-columns: 15% 65% 20%;
}
.mainContPrin .mainDivPrin {
  background-color: #f7f7f7;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}
.mainContPrin .mainDivSecond {
  width: 95%;
  height: 100%;
  background-color: #f7f7f7;
  border-radius: 0px 10px 10px 0px;
}

.contLoginNewUser {
  background-color: #2b006e;
  border-radius: 15px;
  margin: auto;
  width: 50%;
  padding: 20px;
  margin-bottom: 5px;
}
.contLoginNewUser .inputFirstName {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  display: block;
  padding: 7px 0px 7px 0px;
  margin-bottom: 5px;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.contLoginNewUser .inputLastName {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  display: block;
  padding: 7px 0px 7px 0px;
  margin-bottom: 5px;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.contLoginNewUser .inputPositions {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  display: block;
  padding: 7px 0px 7px 0px;
  margin-bottom: 5px;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.contLoginNewUser .inputSexo {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  display: block;
  padding: 7px 0px 7px 0px;
  margin-bottom: 5px;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.contLoginNewUser .inputId {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  display: block;
  padding: 7px 0px 7px 0px;
  margin-bottom: 5px;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.contLoginNewUser .btnPushUser {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #f7f7f7;
  background-color: #ff9a00;
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 7px 0px 7px 0px;
}

@media screen and (max-width: 575px) and (orientation: portrait) {
  .loginContPricipal {
    margin-top: 20px;
  }
  .loginContPricipal .loginTitle {
    font-size: 30px;
  }
  .loginContPricipal .loginText1 {
    font-size: 18px;
  }
  .loginContPricipal .loginContSecond {
    width: 90%;
  }
  .loginContPricipal .loginForm {
    width: 80%;
  }
}
@media screen and (min-width: 575px) and (max-width: 990px) and (orientation: portrait) {
  .body .heraderCont {
    padding-left: 5px;
  }
  .body .heraderCont .headerDiv1 {
    margin-left: 5px;
  }
  .body .heraderCont .headerDiv2 {
    margin-right: 10px;
  }
  .body .heraderCont .headerDiv2 .headerNamePerson {
    font-size: 17px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .body .heraderCont .headerDiv2 .headerImgPerson {
    margin-left: 0px;
  }
  .body .heraderCont .headerDiv2 .exitBtn {
    width: 10px;
    height: 10px;
  }
  .mainContPrin {
    height: 40.625rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 22% 78%;
    grid-template-columns: 22% 78%;
  }
  .mainContPrin .mainDivSecond {
    display: none;
  }
  .mainWelcome .mainWelcomeTitle {
    font-size: 2.5rem;
  }
  .mainWelcome .mainWelcomeText {
    font-size: 0.9375rem;
  }
  .secondCalificatios {
    display: none;
  }
  .secondNotes {
    display: none;
  }
}
@media screen and (max-width: 575px) and (orientation: portrait) {
  .body .heraderCont {
    padding-left: 5px;
  }
  .body .heraderCont .headerDiv1 {
    margin-left: 5px;
  }
  .body .heraderCont .headerDiv1 .menuBurger {
    display: inline;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    margin-right: 10px;
  }
  .body .heraderCont .headerDiv1 .menuBurger .menuBurgerImg {
    width: 30px;
    height: 30px;
  }
  .body .heraderCont .headerDiv1 .headerLogo1 {
    display: none;
  }
  .body .heraderCont .headerDiv2 {
    margin-right: 10px;
  }
  .body .heraderCont .headerDiv2 .headerNamePerson {
    font-size: 17px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .body .heraderCont .headerDiv2 .headerImgPerson {
    margin-left: 0px;
  }
  .body .heraderCont .headerDiv2 .exitBtn {
    width: 10px;
    height: 10px;
    margin-left: 15px;
  }
  .mainContPrin {
    height: 40.625rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2% 96% 2%;
    grid-template-columns: 2% 96% 2%;
  }
  .mainContPrin .mainMenu {
    display: none;
  }
  .mainContPrin .mainDivPrin {
    -ms-grid-column: 2;
    grid-column: 2;
    border-radius: 10px;
  }
  .mainContPrin .mainDivSecond {
    display: none;
  }
  .mainWelcome {
    width: 88%;
    height: 6.25rem;
  }
  .mainWelcome .mainWelcomeTitle {
    font-size: 1.625rem;
    margin-bottom: 1px;
  }
  .mainWelcome .mainWelcomeText {
    font-size: 0.75rem;
  }
  .mainWelcome .mainWelcomeImg {
    width: 6.25rem;
    height: 6.25rem;
  }
  .secondCalificatios {
    display: none;
  }
  .secondNotes {
    display: none;
  }
  .mainDashboard {
    width: 88%;
  }
}
@media screen and (min-width: 575px) and (max-width: 990px) and (orientation: portrait) {
  .mainMenu {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (40px)[8];
    grid-template-rows: repeat(8, 40px);
    height: 90%;
    margin-top: 3.125rem;
  }
  .mainMenu .menuBtn {
    width: 90%;
    height: 100%;
    margin: auto;
    border: none;
    border-radius: 0.3125rem;
    background: transparent;
    font-family: sans-serif;
    font-size: 1.0625rem;
    font-weight: 400;
    color: #f7f7f7;
  }
  .mainMenu .menuBtn:hover {
    background-color: #ff9a00;
  }
  .mainMenu .menuBtn .menuImg {
    width: 0.9375rem;
    height: 0.9375rem;
    margin-left: 0.3125rem;
    vertical-align: text-top;
  }
}